html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: honeydew;
}

header {
	height: 100%;
	background-size: cover;
	display: flex;
	flex-direction: column;;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	transition: all 0.7s;
}

h1 {
	font-family: 'Amatic SC', cursive;
	color: white;
	margin: 0;
	font-size: 80px;
	cursor: pointer;
}

p {
	max-width: 600px;
	margin: 0 auto 20px;
}

.hide {
	display: none;
}
