html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: honeydew;
}

header {
	background: url(/*image goes here*/);
	height: 100%;
	background-size: cover;
	margin-bottom: 50px;
}

h1, h4 {
	font-family: 'Amatic SC', cursive;
	margin: 0;
	text-align: center;
}

h1 {
	font-size: 80px;
}

h4 {
	font-size: 30px;
}

p {
	max-width: 600px;
	margin: 0 auto 20px;
}
